<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:monitor="http://www.bssd.co.uk/schema/monitoring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.bssd.co.uk/schema/monitoring http://www.bssd.co.uk/schema/monitoring/bssd-monitoring.xsd">

	<bean name="thresholdBreaksImmediately" class="uk.co.bssd.monitoring.ThresholdBreaksImmediately" />

	<bean name="seventy" class="java.lang.Double">
		<constructor-arg index="0" type="java.lang.String"
			value="70" />
	</bean>

	<bean name="managementBeanServer" class="uk.co.bssd.jmx.LocalManagementBeanServer" />

	<bean name="cpuUsageAdapter" class="uk.co.bssd.monitoring.CpuUsageAdapter">
		<constructor-arg name="beanServer" ref="managementBeanServer" />
	</bean>

	<bean name="valueGreaterThan70" class="uk.co.bssd.monitoring.GreaterThan">
		<constructor-arg name="threshold" ref="seventy" />
	</bean>

	<bean name="consoleAlert" class="uk.co.bssd.monitoring.ConsoleAlert" />

	<bean name="alert" class="uk.co.bssd.monitoring.Alert">
		<constructor-arg name="condition" ref="valueGreaterThan70" />
		<constructor-arg name="threshold" ref="thresholdBreaksImmediately" />
		<constructor-arg name="alertListener" ref="consoleAlert" />
	</bean>

	<bean name="exampleMonitor" class="uk.co.bssd.monitoring.Monitor">
		<constructor-arg name="adapter" ref="cpuUsageAdapter" />
		<constructor-arg name="alert" ref="alert" />
	</bean>

	<bean name="exampleMonitorDefinition" class="uk.co.bssd.monitoring.loader.MonitorDefinition">
		<constructor-arg name="monitor" ref="exampleMonitor" />
		<constructor-arg name="monitorPeriodMs" value="10" />
	</bean>

	<monitor:monitor id="namespaceMonitor"
		monitorIntervalMs="1000" />
</beans>