<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean name="thresholdBreaksImmediately" class="uk.co.bssd.monitoring.ThresholdBreaksImmediately" />

	<bean name="ten" class="java.lang.Long">
		<constructor-arg index="0" type="java.lang.String"
			value="10" />
	</bean>

	<bean name="managementBeanServer" class="uk.co.bssd.jmx.RemoteManagementBeanServerFactory"
		factory-method="managementBeanServer">
		<constructor-arg name="hostname" value="localhost" />
		<constructor-arg name="port" value="1234" />
	</bean>

	<bean name="fixedValueAdapter" class="uk.co.bssd.monitoring.JmxAttributeAdapter">
		<constructor-arg name="mbeanServer" ref="managementBeanServer" />
		<constructor-arg name="objectName" value="uk.co.bssd:type=simpleMBean" />
		<constructor-arg name="attributeName" value="IntValue" />
		<constructor-arg name="attributeClazz" value="java.lang.Integer" />
	</bean>

	<bean name="valueGreaterThan10" class="uk.co.bssd.monitoring.LessThan">
		<constructor-arg name="threshold" ref="ten" />
	</bean>

	<bean name="consoleAlert" class="uk.co.bssd.monitoring.ConsoleAlert" />

	<bean name="exampleMonitor" class="uk.co.bssd.monitoring.Monitor">
		<constructor-arg name="adapter" ref="fixedValueAdapter" />
		<constructor-arg name="condition" ref="valueGreaterThan10" />
		<constructor-arg name="threshold" ref="thresholdBreaksImmediately" />
		<constructor-arg name="alert" ref="consoleAlert" />
	</bean>

	<bean name="exampleMonitorDefinition" class="uk.co.bssd.monitoring.loader.MonitorDefinition">
		<constructor-arg name="monitor" ref="exampleMonitor" />
		<constructor-arg name="monitorPeriodMs" value="10" />
	</bean>
</beans>